@use "../../../Veriables.scss" as v;

.connection-failed-container {
  h3 {
    font-family: v.$bebas;
    color: v.$yellow;
    width: min-content;
    font-size: 6em;
    line-height: 1;
    text-align: center;
    letter-spacing: 2px;
  }
}
